@model RoomIndexViewModel
@{
    ViewData["Title"] = "Detail";
}

<!-- banner -->
<section class="hotel-banner-simple hotel-transition-bottom">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame">
                    <h1 class="hotel-mb-20 hotel-h1-inner">@Model.Room.RoomType</h1>
                    <ul class="hotel-breadcrumbs">
                        <li><a href="index.html">Ana Səhifə</a></li>
                        <li><a href="rooms.html">Otaqlar</a></li>
                        <li><span>@Model.Room.RoomType</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- room -->
<div class="hotel-p-100-100">
    <div class="container">
        <div class="row" data-sticky-container>
            <div class="col-lg-8">

                <div class="hotel-room-detail-slider-frame hotel-mb-60">
                    <div class="swiper-container hotel-rd-slider-2 hotel-mb-10">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a data-fancybox="gallery" href="~/img/rooms/2.jpg" class="hotel-room-detail-photo-lg" data-swiper-parallax="-80" data-swiper-parallax-scale="1.2" data-swiper-parallax-duration="400">
                                    <img src="~/img/rooms/2.jpg" alt="room">
                                    <span class="hotel-zoom"><i class="fas fa-search-plus"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery" href="~/img/rooms/3.jpg" class="hotel-room-detail-photo-lg" data-swiper-parallax="-80" data-swiper-parallax-scale="1.2" data-swiper-parallax-duration="400">
                                    <img src="~/img/rooms/3.jpg" alt="room">
                                    <span class="hotel-zoom"><i class="fas fa-search-plus"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery" href="~/img/rooms/4.jpg" class="hotel-room-detail-photo-lg" data-swiper-parallax="-80" data-swiper-parallax-scale="1.2" data-swiper-parallax-duration="400">
                                    <img src="~/img/rooms/4.jpg" alt="room">
                                    <span class="hotel-zoom"><i class="fas fa-search-plus"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery" href="~/img/rooms/5.jpg" class="hotel-room-detail-photo-lg" data-swiper-parallax="-80" data-swiper-parallax-scale="1.2" data-swiper-parallax-duration="400">
                                    <img src="~/img/rooms/5.jpg" alt="room">
                                    <span class="hotel-zoom"><i class="fas fa-search-plus"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a data-fancybox="gallery" href="~/img/rooms/6.jpg" class="hotel-room-detail-photo-lg" data-swiper-parallax="-80" data-swiper-parallax-scale="1.2" data-swiper-parallax-duration="400">
                                    <img src="~/img/rooms/6.jpg" alt="room">
                                    <span class="hotel-zoom"><i class="fas fa-search-plus"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container hotel-rd-slider-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="hotel-room-detail-photo-sm">
                                    <img src="~/img/rooms/2.jpg" alt="room">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-room-detail-photo-sm">
                                    <img src="~/img/rooms/3.jpg" alt="room">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-room-detail-photo-sm">
                                    <img src="~/img/rooms/4.jpg" alt="room">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-room-detail-photo-sm">
                                    <img src="~/img/rooms/5.jpg" alt="room">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hotel-room-detail-photo-sm">
                                    <img src="~/img/rooms/6.jpg" alt="room">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- description -->
                <section class="hotel-mb-60 hotel-scroll-animation">
                    <h3 class="hotel-mb-40">Lorem ipsum dolor sit amet consectetur.</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio veniam quibusdam fugit aspernatur ratione rerum necessitatibus ipsa eligendi? Laudantium beatae aut earum ab doloribus tempore veritatis repellat natus illo, veniam
                        quibusdam fugit aspernatur cumque harum quos esse libero nesciunt, molestiae saepe, possimus a suscipit! Minima aspernatur quod maxime quis facere facilis magnam, animi, quia id nihil reiciendis laboriosam, suscipit explicabo amet
                        quasi recusandae at
                    </p>
                </section>
                <!-- description end -->
                <!-- features -->
                <section class="hotel-mb-60">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="hotel-mb-40 hotel-scroll-animation">Otağa daxildir</h3>
                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/1.svg" alt="icon" class="hotel-mb-10">
                                <h5>Havalimanı tarnsferi</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/2.svg" alt="icon" class="hotel-mb-10">
                                <h5>Hər şey daxildir</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/3.svg" alt="icon" class="hotel-mb-10">
                                <h5>Kondisioner</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/4.svg" alt="icon" class="hotel-mb-10">
                                <h5>Təhlükəsizlik</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/5.svg" alt="icon" class="hotel-mb-10">
                                <h5>Qapalı Hovuz</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/6.svg" alt="icon" class="hotel-mb-10">
                                <h5>Wi-fi</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/7.svg" alt="icon" class="hotel-mb-10">
                                <h5>Smart TV</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                        <div class="col-6 col-md-3">

                            <!-- icon box -->
                            <div class="hotel-icon-box hotel-icon-box-sm hotel-scroll-animation">
                                <img src="~/img/features/8.svg" alt="icon" class="hotel-mb-10">
                                <h5>Çamaşırxana</h5>
                            </div>
                            <!-- icon box end -->

                        </div>
                    </div>
                </section>
                <!-- features end -->
                <!-- services -->
                <section class="hotel-mb-30">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="hotel-mb-40 hotel-scroll-animation">Otağa Daxildir</h3>
                        </div>
                        <div class="col-lg-4">

                            <!-- service card -->
                            <div class="hotel-ath-card hotel-scroll-animation">
                                <div class="hotel-cover-frame">
                                    <img src="~/img/services/4.jpg" alt="cover">
                                </div>
                                <div class="hotel-card-description">
                                    <h5>Oyun Otağı</h5>
                                </div>
                            </div>
                            <!-- service card end -->

                        </div>
                        <div class="col-lg-4">

                            <!-- service card -->
                            <div class="hotel-ath-card hotel-scroll-animation">
                                <div class="hotel-cover-frame">
                                    <img src="~/img/services/2.jpg" alt="cover">
                                </div>
                                <div class="hotel-card-description">
                                    <h5>Hovuz</h5>
                                </div>
                            </div>
                            <!-- service card end -->

                        </div>
                        <div class="col-lg-4">

                            <!-- service card -->
                            <div class="hotel-ath-card hotel-scroll-animation">
                                <div class="hotel-cover-frame">
                                    <img src="~/img/services/3.jpg" alt="cover">
                                </div>
                                <div class="hotel-card-description">
                                    <h5>Restorant</h5>
                                </div>
                            </div>
                            <!-- service card end -->

                        </div>
                    </div>
                </section>
                <!-- services end -->
                <!-- reviews -->
                <section class="hotel-mb-30">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="hotel-mb-40 hotel-scroll-animation">Rəylər</h3>
                        </div>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="col-lg-12">

                                <div class="hotel-review-card hotel-scroll-animation">
                                    <div class="hotel-card-header">
                                        <div class="hotel-name-and-photo">
                                            <div class="hotel-avatar-frame">
                                                <img src="~/img/faces/@comment.Image" alt="Avatar">
                                            </div>
                                            <div>
                                                <h5>@comment.FullName</h5>
                                                <span>@comment.CreatedDate.ToString("dd.MM.yyyy")</span>
                                            </div>
                                        </div>
                                        <ul class="hotel-stars">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <blockquote>
                                        @comment.Text
                                    </blockquote>

                                </div>

                            </div>
                        }

                    </div>
                </section>
                <!-- reviews end -->

                <section>
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="hotel-mb-40 hotel-scroll-animation">Rəy Bildirin</h3>
                        </div>
                        <div class="col-lg-12">
                            <form method="post" asp-action="Comment" class="hotel-scroll-animation">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input name="FullName" type="text" placeholder="Adınız">
                                    </div>
                                    <div class="col-lg-6">
                                        <input name="Email" type="email" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6">
                                        <input hidden name="RoomId" value="@Model.Room.Id" type="text" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="Text" rows="8" placeholder="Şərh"></textarea>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="hotel-form-submit-frame">
                                            <!-- temporary button to show the popup -->
                                            <button type="submit" class="hotel-btn">Göndər</button>
                                            <!-- <button class="hotel-btn">Send</button> -->
                                            <div class="hotel-text-sm">*Şəxsi məlumatlarınızı üçüncü tərəflərə açıqlamayacağımıza söz veririk..</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-lg-4">
                <!-- sidebar -->
                <div class="hotel-sticky hotel-stycky-right" data-margin-top="100">

                    <!-- room info -->
                    <div class="hotel-room-features-lg hotel-mb-20">
                        <div class="hotel-feature">
                            <div class="hotel-icon-frame"><img src="~/img/icons/bed.svg" alt="icon"></div>
                            <span>1 Nəfərlik</span>
                        </div>
                        <div class="hotel-feature">
                            <div class="hotel-icon-frame"><img src="~/img/icons/square.svg" alt="icon"></div>
                            <span>25 Ft²</span>
                        </div>
                    </div>
                    <!-- room info end -->

                    <div class="hotel-price-card hotel-mb-20">
                        <div class="hotel-price-number">150 M</div>
                        <div class="hotel-btn">Rezervasiya</div>
                    </div>

                    <div class="hotel-book-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hotel-input-frame">
                                        <label for="check-in">Giriş</label>
                                        <input id="check-in" type="text" class="datepicker-here" data-position="bottom left" placeholder="Tarix Seçin" autocomplete="off" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="hotel-input-frame">
                                        <label for="check-out" class="hotel-add-icon">Çıxış</label>
                                        <input id="check-out" type="text" class="datepicker-here" data-position="bottom left" placeholder="Tarix Seçin" autocomplete="off" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="hotel-select-frame">
                                        <label for="person">Böyük</label>
                                        <select id="person">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" disabled>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="hotel-select-frame">
                                        <label for="children">Uşaq</label>
                                        <select id="children">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3" disabled>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 hotel-center">
                                    <button type="submit" class="hotel-btn"><img src="~/img/icons/search.svg" class="hotel-zoom" alt="icon">Axtar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- sidebar end -->

            </div>
        </div>
    </div>
</div>
<!-- room end -->
